@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #14213D;
    color: #E5E5E5;
    font-family: "Inter", sans-serif;
}

a {
    color: #FCA311;
}

h1 {
    font-size: 56px;
    text-align: center;
}

.homepage-links {
    border: 2px white solid;
    text-align: center;
    padding: 20px;
}

.homepage-links li {
    list-style-type: none;
    margin: 20px;
}

.homepage-links a {
    text-decoration: none;
}
