@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #14213D;
    color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

a {
    color: #FCA311;
}

h1 {
    font-size: 56px;
    text-align: center;
}

h2 { 
    background-color: #FCA311;
    color: #14213D;
    width: 200px; 
    text-align: center; 
    padding: 10px; 
    border: 2px #14213D solid; 
}

img {
    display: block;
    margin: 0 auto;
    padding: 8px;
    border: 4px #E5E5E5 solid;
}

.navbar {
    padding: 8px;
}

.navbar a {
    text-decoration: none;
    border: 2px white solid;
    padding: 8px;
}

.homepage-links {
    border: 2px white solid;
    text-align: center;
    padding: 20px;
}

.homepage-links li {
    list-style-type: none;
    margin: 20px;
}

.homepage-links a {
    text-decoration: none;
}
